.root {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.content,
.ads {
    padding: 20px;
}

.ads {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-ad,
#div-gpt-ad-1713969330814-0 {
    width: 100%;
    margin: 20px 0;
}

.native-ad {
    padding: 10px;
    background-color: #151136;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 50px;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

header,
footer,
section {
    margin-bottom: 20px;
}

/* Styles for Electric Cars page */
#electric h1 {
    color: #4CAF50;
    /* Green color */
}

#electric p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
}

/* Styles for Trucks page */
#trucks h1 {
    color: #FF9800;
    /* Orange color */
}

#trucks p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
}

/* Media Queries for Adaptive Layout */
@media (max-width: 1200px) {
    .root {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .native-ad {
        margin-bottom: 20px;
    }

    .ads {
        align-items: stretch;
    }
}

@media (max-width: 480px) {

    .content,
    .ads {
        padding: 10px;
    }

    .banner-ad,
    #div-gpt-ad-1713969330814-0 {
        margin: 10px 0;
    }

    header h1 {
        font-size: 1.5em;
    }

    footer p {
        font-size: 0.9em;
    }
}